{% extends 'base.html' %}
{% block main %}
<button type="button" class="button" onclick=simple_action("{{ url_for('character_creation', id = id) }}")>Create New Character</button>
<div class="d-flex justify-content-center">
    {% for character in characters %}
        
        <div class="block">    
                <table>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>ID</th>
                    <th>player_character</th>
                    <th>am_i_alive</th>
                    <th>character_story</th>
                </tr>
                
                <td><img src="{{ rest.image }}"></td>
                <td><h2>{{ character.name }}</h2></td>
                <td>{{ character.id }}</td>

                {% if character.player_character == 'True' %}
                    <td>Player Character</td>
                {% else %}
                    <td>Non-Player Character</td>
                {% endif %}

                {% if character.am_i_alive == 'True' %}
                    <td>Alive</td>
                {% else %}
                    <td>Dead</td>
                {% endif %}
                
                <td>{{ character.character_story }}</td>

                </tr>
                {% endfor %}
                </table>
                <br/>
        </div>

    {% endfor %}



{% endblock %}