{% extends 'base.html' %}
{% block main %}

<h2> Campaign Name </h2>
    <p> {{ campaign.name }} </p>
<h2> The Story so Far... </h2>
    <p> {{ campaign.general_story }} </p>
<h2> your GM </h2>
    <p> {{ campaign.game_master_id }} </p>

{% if user.id == campaign.game_master_id %}
    <h2>GM Notes</h2>
    <label for="Notes"></label>
    <textarea id="Notes" name="Notes" rows="5" cols="33"> Enter notes here...</textarea>
    <form method="POST" action="{{  url_for('campaign', id=campaign.id) }}">
        {{ private_note_form.hidden_tag() }}
        {{ private_note_form.submit() }}
    {% for note in private_notes %}
        <p>{{ note.private_note }}</p>
        <p>{{ note.creation_date }}</p>
    {% endfor %}
    </form>

{% endif %}
{% endblock %}