{% extends 'base.html' %}
{% block main %}
{% if user.id == gm_id %}
<div class="page-wrap"> 
    <div class="contents">
      	<br>
        <section class="content">

            <div class="d-flex justify-content-center">
                <div class="box">
                    <h1>Create New Character</h1>

                    <form action="" method="POST" novalidate>
                        {{ form.hidden_tag() }}
                        <h3>{{ form.id.label }} <br> {{ form.id(size=10) }}</h3><p></p>
                        <h3>{{ form.name.label }} <br> {{ form.name(size=10) }}</h3><p></p>

                        <div>
                            <h3 style="display: inline-block;">{{ form.image.label }}</h3>
                            <h4 style="display: inline-block; margin-left: 5px;">(Optional)</h4>
                            <br>
                            {{form.image(size=50)}}
                            <p></p>
                        </div>

                        <h3>{{ form.player_character.label }} <br> {{form.player_character}}</h3><p></p>
                        <h3>{{ form.am_i_alive.label }} <br> {{form.am_i_alive}}</h3><p></p>
                        <h3>{{ form.character_story.label }} <br> {{form.character_story(size=50)}}</h3><p></p>

                        <div class="button-container">
                            <h3>{{ form.submit() }}<button type="button" class="button-back" onclick=confirmed_action("{{ url_for('all_characters', id = id, gm_id = gm_id) }}")>Back to Characters</button></h3>
                        </div>
                    </form>

                    <script type="text/javascript">
                        function confirmed_action(target) {
                            if (confirm('Are you sure you want to leave without saving changes?')) {
                                window.location = target
                            }
                        }
                    </script>
                </div>
            </div>
        </section>
    </div>
  </div>
{% else %}
    <div class="page-wrap"> 
        <div class="contents">
            <br>
            <section class="content">
                
                <h5>Only the Game Master of a campaign can create new</h5> 
                <h5>Characters for that campaign.</h5>

            </section>
        </div>
    </div>
{% endif %}
{% endblock %}
