{% extends 'base.html' %}
{% block main %}
        <form action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>{{ form.id.label }} <br> {{ form.id(size=10) }}</p>
            <p>{{ form.event_name.label }} <br> {{ form.event_name(size=10) }}</p>
            <p>{{ form.date_of_session.label }} <br> {{ form.date_of_session(size=10) }}</p>
            <p>{{ form.description.label }} <br> {{form.description(size=300)}}</p>
        <p>{{ form.submit() }}
            <button type="button" class="button" onclick=confirmed_action("{{ url_for('campaign', id=id) }}")>Back to Campaign</button>
        </p>
        </form>
        <script type="text/javascript">
            function confirmed_action(target) {
                if (confirm('Are you sure you want to leave without saving changes?')) {
                    window.location = target
                }
            }
        </script>
{% endblock %}
